WAP TO CLACULATE AREA AND PERMETER OF A RECTANGLE.

In [35]:
l=float(input("Enter the length of the rectangle"))
b=float(input("Enter the breadth of the rectangle."))
a=l * b
p=2*(l+b)
print(f'The area  of rectangle is {a}')
print(f'The perimeter  of rectangle is {p}')

The area  of rectangle is 1344.0
The perimeter  of rectangle is 248.0

 WAP TO COMPUTE SIMPLE INTEREST

In [14]:
p=int(input("Enter the principle amount:"))
r=int(input("Enter the rate of interest:"))
t=int(input("Enter the time: "))
s=p*r*t/100

print(f'The Simple Interest is: {s}')

The Simple Interest is: 80.0

WAP TO FIND AVERAGE OF THREE NUMBERS

In [16]:
num1=float(input("Enter the 1st number:"))
num2=float(input("Enter the 2nd number:"))
num3=float(input("Enter the 3rd number:"))

average=(num1+num2+num3)/3

print(f"This average of three numbers is {average}")

This average of three numbers is 24.333333333333332

WAP TO FIND AREA OF CUBOID.

In [19]:
l=float(input("Enter the length"))
h=float(input("Enter the heigth"))
w=float(input("Enter the width"))

SA=2*(l*w+l*h+w*h)

print(f"The area of cuboid is {SA} square units")

The area of cuboid is 864.0 square units

WAP TO CLACULATE THE AREA OF CIRCLE

In [21]:
pi=3.14
r=float(input("Enter the value of radius of the circle:"))

Area_of_circle= 2*pi*r
print(f"The area of cicle is {Area_of_circle}")

The area of cicle is 75.36

WAP TO FIND VOLUME OF A SPHERE (FORMULA: VOL=4/3pir3)

In [22]:
pi=3.14
r=float(input("Enter the value of radius:"))

vol=4/3*pi*r*3
print(f'Volume of a sphere is:{vol}')

Volume of a sphere is:150.71999999999997

Separater :

In [45]:
a,b=2,4
print(a, b ,sep=',')

2,4

CONVERSION TYPES 
PRINT() STATEMENT: WITH MODULO OPERATOR
%d=Interger
%i=interger
%f=float
%s=string
%x=hexadecimal
%o=octal


syntax: print("formated string"%(variablel list))

In [51]:
x=10
print("value is %i"%x)
print("value is %i"%(x))

x,y=10,20
print('value is x = %i y = %d' %(x,y))

value is 10
value is 10
value is x = 10 y = 20

WAP FUNCTION FIND GREATEST OF THREE NUMBERS

In [14]:
def greatest_num(a, b, c):
	if a >= b and a >= c:
		return a
	elif b >= a and b >= c:
		return b
	else:
		return c
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

print("The greatest number is:", greatest_num(num1, num2, num3))

The greatest number is: 4.0

In [15]:
a=float(input("Enter the first number:"))
b=float(input("Enter the second number:"))
c=float(input("Enter the thrid number:"))
if a>=b and a>=c:
	print(f"The greater number is {a}")
elif b>=a and b>=c:
	print(f"The greater number is {b}")
else:
	print(f"The greater number is {c}")

The greater number is 4.0

WAP TO ACCEPT A BINARY NUMBER ,CONVERT IT INTO DECIMAL NUMBER AND PRINT IT

In [10]:
num1 =input("Enter the binary number: ")
num2= int(num1,2)
print(f"Convertion of enter binary to decimal is : {num2}")

Convertion of enter binary to decimal is : 4

WAP TO ACCECT A BINARY NUMBER, CONVERT IT INTO OCTAL NUMBER AND PRINT IT

In [18]:
binary_num= input("Enter the binary number:")
decimal_num=int(binary_num,2)
octal_num = oct( decimal_num)[2:]
print("The octal number is",octal_num)

The octal number is 4

WAP to accept a binary number, convert it into hexadecimal number and print it.

In [26]:
binary_num=input("Enter the binary number: ")
decimal_num=int(binary_num,2)
hexadecimal_num=hex(decimal_num)[2:].upper()
print("The hexadecimal number is: ",hexadecimal_num)

The hexadecimal number is:  9

WAP to accept a octal number, convert it into decimal number and print
it.

In [32]:
octal_number=input("Enter the octal number: ")
decimal_num=int(octal_num,8)
print("The decimal number is ",decimal_num)

The decimal number is  4

In [5]:
# Dictionary Comprehesion:
square_dict= dict()
for num in range(1,11):
	square_dict[num] = num*num
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [6]:
word=input("Enter any word: ")
d={}
for x in word:
	d[x]=d.get(x,0)+1
for k,v in d.items():
	print(k,"occured",v,"items")

g occured 1 items
o occured 2 items
d occured 1 items
i occured 1 items
e occured 1 items

In [7]:
list=[1,2,3,4,5,6,7,4,5,2,3,4,1,4,5]
dup =[]
for a in list:
	n= list.count(a)
	if n>1:
		if dup.count(a)==0:
			dup.append(a)
print(dup)

[1, 2, 3, 4, 5]

In [1]:
print("hello"+"world")

helloworld

In [7]:
print("Hello\n" *3)

Hello
Hello
Hello

In [11]:
name="adalovelace"
print(name.title())
print(name.lower())
print(name.upper())

Adalovelace
adalovelace
ADALOVELACE

In [14]:
fav_sub=' python '
fav_sub.rstrip()
fav_sub.lstrip()
fav_sub.strip()

'python'

In [20]:
ls=[20,5.5,'abc',True,20]
print(ls)

[20, 5.5, 'abc', True, 20]
list[-1]

In [25]:
ls=[10,20,30,40,50]
print(list[0])
print(list[1])
print(type(list))

list[0]
list[1]
<class 'type'>

In [26]:
t1=(10,20,30,40)
print(t1)

(10, 20, 30, 40)

OOP - Object oreinted Programming
POP - procredure orented programming

 # Syntax of creating an object : reference_variable = classmate()

In [2]:
class  frist():
	pass
f= frist()

In [3]:
class dog:
	sound = "barks"
d=dog()
print(d.sound)

barks

In [7]:
class dog:
	sound = "barks"
	def eat(self):
			print("eating")
d=dog()
d.eat()
print(d.eat())

eating
eating
None

##  _ int _()fuction

In [33]:
class sample:
	def __init__(self):
		print("Initializing")
		
	def pr(self):
		print("Sample class")
		
s1=sample()
s1.pr()

Initializing
Sample class

In [25]:

class person:
	def __init__(self,nm,ag):
		self.name = nm
		self.age = ag
p1 = person("Jhon",36)
p2 = person("Jack",30)
p3 = person("Raj",18)

print("Name:",p1.name)
print("Age:",p1.age)



print("\nName:",p2.name)
print("Age:",p2.age)

print("\nName:",p3.name)
print("Age:",p3.age)

Name: Jhon
Age: 36

Name: Jack
Age: 30

Name: Raj
Age: 18

# Instance Methods ( Object Methods)

In [41]:
class Person :
	def __init__(self,nm,ag):
		self.name =nm
		self.age= ag
	def myfunc(self):
		print("The name of person is %s and age %s " %(self.name,self.age))
		
p1 = Person("Jhon",36)
p1.myfunc()

The name of person is Jhon and age 36

# Types of Methods in a class:
1. Instance Method
2. Class Method
3. Static Method

In [43]:
class Myclass:
	def meth(self):
		print("Instance method")
	def class_meth(cls):
		print("Class method")
	def static_meth(self):
		print("Static method")
print()

In [48]:
# Creating class 
class student:
	name= "Rajkoli"
	name1="Pranavkale"
	age=18
# creating object( instance )

s1=student()
print(s1.name)
print(s1.age)
print(s1.name1)

Rajkoli
18
Pranavkale

In [50]:
class student:
	def __init__(self,fullname):
		self.name = fullname
		print("Adding new student to database..")
s1 = student("rajkoli")
print(s1.name)

Adding new student to database..
rajkoli

In [7]:
def hello():
	print("Hello")
	print("You are Good Boy ")
hello()
# sales1 = 6000
# profit1 = 2000
# ad1= 1000

# sales2 = 6000
# profit2 = 2000
# ad2= 1000

# sales3 = 6000
# profit3 = 2000
# ad3 = 1000

Hello
You are Good Boy

In [14]:
class person:
	name= "Harry"
	occupation= "Software Developer"
	networth= 10 
	def info(self) :
	 print(f'{self.name} is a {self.occupation}')
	 
a = person()
b = person()
c = person()

a.name="Raj koli "
a.occupation="Developer"

b.name="Pranav"
b.occupation="Softwarer Developer"

a.info()
b.info()

Raj koli  is a Developer
Pranav is a Softwarer Developer

In [2]:
class Person:
		name= "Harry"
		occ= "Developer"
		
		def info(self):
			print(f'{self.name} is a {self.occ}')
		
a = Person()
a.name='Divya'
a.occ="HR"

b= Person()
b.name='Divya'
b.occ="HR"


a.info()
b.info()

Divya is a HR
Divya is a HR

In [23]:
class person:
			n="name"
			occ="Developer"
			def info(self):
				print(f'The name is {self.n} and \n occ is {self.occ}')
a=person()
a.n='Divya'
a.occ="HR"

a.info()

The name is Divya and
 occ is HR

In [7]:
class faculty:
	def putdata(self):
		self.id = int(input("Enter faculty id:"))
		self.name = (input("Enter name:"))
		self.salary = (input("Enter faculty salary:"))
	
	def display(self):
		print(f'faculty is:{self.id}')
		print(f'faculty name:{self.name}')
		print(f'faculty is:{self.salary}')
a=faculty()
a.putdata()
a.display()

faculty is:1
faculty name:rajkoli
faculty is:12345

In [26]:
class sample:
	def __init__(self):
		print("Initializing")
	def pr(self):
		print("Sample class")
s1=sample()
s1.pr()

Initializing

In [30]:
class person:
	def __init__(self,name,age):
		self.name = name
		self.age = age 
p1 = person("Jhon ",32)
p2 = person("Sam ",34)
p3 = person("Rock ",30)

print(p1.name)
print(p1.age)
print(p2.name)
print(p2.age)
print(p3.name)
print(p3.age)

Jhon
32
Sam
34
Rock
30

In [26]:
class Example:
	class_variable = "Class Level"

	def __init__(self, instance_variable):
		self.instance_variable = instance_variable
	
	# Instance Method
	def instance_method(self):
		print (f"Instance variable: {self.instance_variable}")

	# Class Method
	@classmethod
	def class_method(cls):
		print(f"Class variable: {cls.class_variable}")

	# Static Method
	@staticmethod
	def static_method():
		return "I don't need any class or instance data."

# Usage:
ex = Example("Instance Level")

# Instance method
print(ex.instance_method())  # Output: Instance variable: Instance Level

# Class method
print(Example.class_method())  # Output: Class variable: Class Level

# Static method
print(Example.static_method())  # Output: I don't need any class or instance data.

Instance variable: Instance Level
None
Class variable: Class Level
None
I don't need any class or instance data.

In [33]:
class student:
	def __init__(self,name,age,id,cohort):
		self.name= name
		self.age= age
		self.id= id
		self.cohort= cohort
stud1= student("Raj koli" ,18, 145,"Elon musk")
stud2 = student("Gaurav " ,18,146,"Elon musk")

print(stud1.name)
print(stud1.age)
print(stud1.id)
print(stud1.cohort)
print(stud2.name)
print(stud2.age)
print(stud2.id)
print(stud2.cohort)

Raj koli
18
145
Elon musk
Gaurav
18
146
Elon musk

In [48]:
class faculty :
			def __init__(self):
				self.id= int(input("Enter faculty id: "))
				self.name= input("Enter name: ")
				self.salary = float(input("Enter faculty salary: "))
					
			def display(self):
								print("Faculty id :", self.id)
								print("Faculty name :", self.name)
								print("Faculty salary :", self.salary)
a= faculty()

b=faculty()

a.display()

b.display()

Faculty id : 1
Faculty name : raj
Faculty salary : 123.0
Faculty id : 2
Faculty name : koli
Faculty salary : 1234.0

In [2]:
class faculty:
			def __init__(self,a,b,c):
					self.id=a 
					self.name=b
					self.salary=c
			def display(self):
							print("Faculty id :", self.id)
							print("Faculty name :", self.name)
							print("Faculty salary :", self.salary)
a=faculty(1,"Varun",10000)
b=faculty(2,"Ranbir",30000)
c=faculty(3,"Virat",400000)
a.display()
b.display()
c.display()

Faculty id : 1
Faculty name : Varun
Faculty salary : 10000
Faculty id : 2
Faculty name : Ranbir
Faculty salary : 30000
Faculty id : 3
Faculty name : Virat
Faculty salary : 400000

In [10]:
class Test:
			a=111
			@classmethod
			def m1(cls):
						cls.a = 888
			@staticmethod
			def m2():
						Test.a=999
print("Initially ",Test.a)
Test.m1()
print("After Calling class Method", Test.a)
Test.m2()
print("After Calling class Method", Test.a)

Initially  111
After Calling class Method 888
After Calling class Method 999

	Setter and Getter in python:

	setter syntax:
	def setVariable(self,variable)
							self.variable= variable
		
Getter syntax:
		def getVariable(self)
							return self.variable

In [20]:
class Calculation1:
    def summation(self,a,b):
        return a+b;

class Calculation2:
    def Multiplication(self,a,b):
        return a*b;
class Derived(Calculation1, Calculation2):
    def divide (self,a,b):
        return a/b;
d = Derived()
print(d.summation)
print(d.Multiplication)
print(d.divide)

<bound method Calculation1.summation of <__main__.Derived object at 0x10641e270>>
<bound method Calculation2.Multiplication of <__main__.Derived object at 0x10641e270>>
<bound method Derived.divide of <__main__.Derived object at 0x10641e270>>

Files:

opening the files in Python:
f= open(filename, mode)

In [122]:
f= open ('sample.txt','w')
f.write("Hello World")
f.close()

In [123]:
f= open('sample.txt','r')
data = f.read()
print(data)
f.close()

Hello World

Closing the files in python :
#Close()

In [130]:
f= open("Test_File.txt",'w')
s= '''Hello Good Morning'''
f.writelines(s)
f.close()

In [131]:
f=open("Test_File.txt", "r")
print(f.read())
f.close()

Hello Good Morning

In [139]:
f= open('sample1.txt','w')
print("Enter text , press * in the last line to terminate ")

s=""
while s !='*':
    s= input()
    if s != "*":
        f.write(s+'\n')
f.close()
f=open('sample1.txt','r')
data=f.read()
print(data)
f.close()

Enter text , press * in the last line to terminate
Hello World

In [144]:
f= open("Sample2.txt",'w')
list=['Apple\n','Cherry\n','Banana\n','Graphes']
f.writelines(list)
f.close()
f=open('sample2.txt','r')
print(f.read())
f.close()

Apple
Cherry
Banana
Graphes

In [148]:
f= open("Sample2.txt",'r')
data=f.read(13)
print(type(data))
print(data)
f.close()

<class 'str'>
Apple
Cherry

In [150]:
f= open("Sample2.txt",'w')
list=['Apple\n','Cherry\n','Banana\n','Graphes']
f.writelines(list)
f=open('sample2.txt','r')
line1=f.readline()
print(line1,end="")
line2=f.readline()
print(line2,end="")
line3=f.readline()
print(line3,end="")
f.close()

Apple
Cherry
Banana

In [152]:
# Readline 
f=open('sample2.txt','r')
lines=f.readlines()
print(lines)
for line in lines:
    print(line,end='')
f.close()

['Apple\n', 'Cherry\n', 'Banana\n', 'Graphes']
Apple
Cherry
Banana
Graphes

In [154]:
# With Statement
with open("With_file.txt","w") as f:
    f.write("Welcome to the world of programming\n")
    f.write("Happy Programming")
with open("With_file.txt",'r') as f :
    print(f.read())

Welcome to the world of programming
Happy Programming

In [155]:
# seek() method
data="Have a Nice Day"
f=open('abcd.txt','w')
f.write(data)
with open('abcd.txt','r+') as f:
    text=f.read()
    print(text)
    print("The Current Cursor Position: ", f.tell())
    f.seek(7)
    print("The Current Cursor Position: ", f.tell())
    f.write("Good")
    f.seek(0)
    text=f.read()
    print("Data After Modification: ")
    print(text)

Have a Nice Day
The Current Cursor Position:  15
The Current Cursor Position:  7
Data After Modification:
Have a Good Day

In [159]:
f= open ('Rplus_mode321.txt','w')
f.write("Hello World")
f.close()

In [160]:
# r+ mode

with open("Rplus_mode321.txt",'r+') as f :
    f.write("This is a sample file\n")
    f.write('for r+ mode')
    f.seek(0)
    print(f.read())
    f.seek(0)
    f.write("Overwriting")
    f.seek(0)
    print(f.read())

This is a sample file
for r+ mode
Overwritingample file
for r+ mode

In [171]:
# Exception Handling:

# x,y=10,0
# print(x/y)
try: 
    x,y=10,0
    print(x/y)
except ZeroDivisionError :
    print("y should not be zero")

y should not be zero

In [175]:
# Try with multiple except blocks 

try:
    x,y=input("Enter two number ").split()
    x=int(x)
    y=int(y)
    print(x/y)
except ZeroDivisionError as msg:
    print("y should not be Zero:", msg)
except ValueError as msg:
    print("Type inappropraite:", msg)

y should not be Zero: division by zero

In [176]:
# Multiple Excpet block sequence 

try:
    x,y=input("Enter two number ").split()
    x=int(x)
    y=int(y)
    print(x/y)
except ArithmeticError as msg:
    print("Arithmetic:", msg)
except ZeroDivisionError as msg:
    print("y should not be zero:", msg)

Arithmetic: division by zero

In [179]:
# Default except block

try:
    x,y= input("Enter two num").split
    x=int(x)
    y=int(y)
    print(x/y)
    z= z%4
    a="two"+1
except ZeroDivisionError as msg:
    print("y should not be zero: ",msg)
except ValueError as msg:
    print("Type inapproiate: ",msg)
except:
    print("Other Errors")

Other Errors

In [184]:
# Single except block can handle multiple exception:

try:
    x,y= input("Enter two num").split()
    x=int(x)
    y=int(y)
    print(x/y)
except (ZeroDivisionError, ValueError) as msg:
    print(msg)

division by zero

In [186]:
# Else block with try-except-finally

try:
    print("try")
    print(10/0)
except:
    print("except")
else:
    print("else")
finally:
    print("finally")

try
except
finally

In [193]:
evenodd= lambda x : 'odd' if x%2 else 'even'
print(evenodd(5))
print(evenodd(8))

odd
even

In [195]:
r=lambda a,b : a+b
print("The sum of 10,20 is: ",r(10,20))
print("The sum of 100,200 is: ",r(100,200))

The sum of 10,20 is:  30
The sum of 100,200 is:  300